/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #000;
}

/* tamaño de logo */
.logo {
  width: 5.5%;
  padding-top: 0.7%;
}

p {
  line-height: 2rem;
}

.teal-text {
  font-size: 65px;
}

/* estilos para texto de footer */
.pointer {
  cursor: pointer;
}

.parallax-container {
  min-height: 360px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .logo {
    width: 16%;
    margin-top: 4%;
  }
  .teal-text {
    font-size: 34px;
  }
  .left-align {
    margin-left: 0%;
  }

  /* Tamaño de imagen responsive para mapa de Barranco */
  .image-map {
    width: 350px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

@media only screen and (max-width : 450px) {
  /* Tamaño de imagen responsive para mapa de Barranco */
  .image-map {
    width: 250px;
  }
}